/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Product Grid */
.product-grid {
    display: grid;

    /* 4 columns on desktop */
    grid-template-columns: repeat(4, 1fr);

    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

/* Product Card */
.product-card {
    background-color: white;
    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
}

/* Hover Effect */
.product-card:hover {
    transform: scale(1.05);
}

.product-card h2 {
    margin-bottom: 15px;
    font-size: 22px;
}

.product-card p {
    font-size: 18px;
    font-weight: bold;
}

/* Tablet - 2 Columns */
@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile - 1 Column */
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}